<!--<form class="formVote" [ngClass]="{'bg-dark':true, 'text-light' : true}" id="formVote" (ngSubmit)="submit()">-->
<!--<p><ngb-progressbar type="moreBlue" showValue="true" [value]="blue" [striped]="true"  [animated]="true"></ngb-progressbar></p>-->
<!--<div class="form-check">-->

<!--<input class="form-check-input" type="checkbox" value="" id="X2">-->

<!--<br>-->
<!--<input class="form-check-input" type="checkbox" value="" id="minusX2">-->
<!--<label class="form-check-label" for="minusX2">-->
<!-- -X2-->
<!--</label>-->
<!--</div>-->
<!--<div class="form-check">-->
<!--<input class="form-check-input" type="radio" name="choosenLine" id="choosenLineRed" value="option1" checked>-->
<!--<label class="form-check-label" for="choosenLineRed">-->
<!--your line is red-->
<!--</label>-->
<!--</div>-->
<!--<div class="form-check">-->
<!--<input class="form-check-input" type="radio" name="choosenLine" id="choosenLineBlue" value="option2">-->
<!--<label class="form-check-label" for="choosenLineBlue">-->
<!--your line is blue-->
<!--</label>-->

<!--</div>-->

<!--<input type="submit" form="formVote" value="голосовать" class="btn-success btn">-->

<!--</form>-->

<form class="card formVote" id="formVote" (ngSubmit)="submit(currentPos);" #myForm="ngForm"  [ngClass]="{'formVote_call':callVote}">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-body" *ngIf="!finish">
        <h5 class="card-title">Вопрос номер: {{currentPos + 1}}</h5>
        <p class="card-text">{{massiveData[currentPos].question}}</p>
        <div *ngFor="let item of massiveData[currentPos].answers; index as i;" class="answerVote">
            <input class="form-check-input" (click)="takeAnswer(element.value)" #element type="radio" name="name_answer"
                   id="{{'answer'+currentPos+''+i}}" value="{{i}}" required >
            <label for="{{'answer'+currentPos+''+i}}">{{massiveData[currentPos].answers[i]}}</label>
        </div>
        <input type="submit" value="ответить" class="btn btn-primary" [disabled]="userAnswer == undefined">

    </div>
    <div class="card-body" *ngIf="finish">
        <h5 class="card-title">Вы ответили на все вопросы</h5>
        <p class="card-text">{{"Вы ответили правильно на " + currentAnswers+ " из "  + (massiveData.length+1)}}</p>
        <img src="./img/win.jpg" alt="" class="img-responsive imgForm" *ngIf="currentAnswers >= (massiveData.length/2)">
        <img src="./img/loosing.jpg" alt="" class="img-responsive imgForm" *ngIf="currentAnswers <= (massiveData.length/2)">
    </div>
    <div class="progressbarWrapper">
        <ngb-progressbar type="moreBlue" showValue="true" height="25px" [value]="((+(currentPos)/+(massiveData.length))*100)"
                         [striped]="true" [animated]="true"></ngb-progressbar>
    </div>
    </form>
<button class="callVote"  (click)="callVote=!callVote" >
</button>

<div class="test" (click)="x('рф')">

</div>
