.formVote
{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 100%;
    top: 0;
    margin:auto;
    width: 50vw;
    max-height: 80vh;
    min-height: 400px;
    border:1px solid darkgoldenrod;
    padding: 8px;
    padding-bottom: 16px;
    transition: .2s;
}
.formVote_call
{
    left: 0;
}
.formVote>*:not(label)
{
    margin-bottom: 5px;
}
label[for]
{
    cursor: pointer;
}


.answerVote
{
    display: flex;
    justify-content: flex-start;
    padding-left: 15%;
    margin: 22px 0;
}
.imgForm
{
    max-width: 350px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 0 0 100% 100%;
    margin: auto;
}

.callVote
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: darkblue;
    position: fixed;
    right: 0;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    outline:none;
}
.callVote:active
{
    background: lightblue;
    width: 90px;
    height: 90px;
}
.callVote:before
{
    text-align: center;
    vertical-align: center;
    content: "";
    color:#fff;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: red;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
}
.callVote:active:before
{
    background: orange;
    width: 70px;
    height: 70px;
}
