<div class="cardPost">
  <nav>
    <button class="btn btn-primary" id="filter_all" (click)="this.filter = 'all'">all</button>
    <button class="btn btn-primary" id="filter_A" (click)="this.filter = 'A'">#A</button>
    <button class="btn btn-primary" id="filter_B" (click)="this.filter = 'B'">#B</button>
    <button class="btn btn-primary" id="filter_C" (click)="this.filter = 'C'">#C</button>
    <app-create-new-post-form></app-create-new-post-form>
  </nav>
  <ul>
    <li   *ngFor="let post of Posts; let i = index;" [hidden]="!HiddenOfOn(filter, post.tag)"  class="card">
      <div class="tag">
        {{post.tag}}
      </div>
      <img src='./img/{{post.img}}' alt="" class="cardImg">
      <h5 class="cardTitle">{{post.title}}</h5>
      <span class="cardBrief">
    {{post.brief}}
      </span>
    </li>
  </ul>
  <!--<mark>-->
    <!--{{filter}}-->
  <!--</mark>-->
</div>
