.cardPost .card
{
    position: relative;
    background: rgb(203, 183, 241);
    display: inline-block;
    width:100%;
    max-width: 200px;
    min-width: 100px;
    margin: 16px;
}
li img
{
    width: 100%;
}
.cardPost .card .tag
{
    width: 30px;
    height: 30px;
    background: darkblue;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    position: absolute;
    left: 0;
    top:0;
    border:2px solid #fff;
}

.cardPost .card .cardTitle
{
    background: #ffffff;
    border-top:#000 solid 1px;
    border-bottom:#000 solid 1px;
}
.cardPost .card .cardBrief
{
    display: inline-block;
    background: rgb(240, 248, 255);
    width: 95%;
    border: 1px solid rgb(0, 0, 139);
    margin-bottom: 8px;
}

.cardPost nav button
{
    margin: 0 8px;
}
[hidden] { display: none !important;}
