<button class="btn btn-success" (click)="hiddenForm=!hiddenForm">
  New post
</button>
<div class="wrapper_black" [hidden]="hiddenForm" (click)="hideForm()">
</div>
  <form action="" class="createPostBlock" [hidden]="hiddenForm">
      <mark>
          заголовок: {{title}} <br>описание:{{brief}} <br>тэг {{tag}}
      </mark>
    <fieldset class="form-group">
      <legend>Создание поста</legend>
      <label for="title"> Название поста</label><input type="text" id="title" name="title" class="form-control" [(ngModel)]="title">
      <label for="description"> описание поста</label>
      <textarea id="description" class="form-control" name="description" [(ngModel)]="brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eius minima omnis pariatur rerum sunt ut?
  </textarea>
      <label for="choosenTag">Выберите тэг поста</label>
      <select id="choosenTag" class="form-control" [(ngModel)]="tag" name="tag">
        <option *ngFor="let post of allTags; let i = index;">{{allTags[i]}}</option>
        <option (click)="newTagFormVisible_open()">Добавить новый тег</option>
      </select>
      <fieldset class="form-group">
        <button class="btn btn-primary" (click)="addItem();">create new post</button>
      </fieldset>
    </fieldset>
  </form>


