<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    <hr>
    <br>
        <app-card-post></app-card-post>
        <app-form-vote></app-form-vote>
    <app-create-new-form-reactive></app-create-new-form-reactive>
</div>

