.Rform
{
    width: 600px;
    position: fixed;
    left: 0;
    right: 0;
    top:25px;
    margin: auto;
    z-index: 1000;
    background-color: #fff;
    padding: 5px 70px;
    border: 1px solid tomato;
    border-radius: 20px;
    height: auto;
}
.createPostBlock *
{
    margin-top: 16px;
}

.wrapper_black
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 999;
    top: 0;
}
