<form class="card Rform" id="Rform">
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <!--<div class="card-body">-->
    <h5 class="card-title">Вопрос номер: </h5>
    <p class="card-text"></p>
    <!--<div class="answerVote">-->
      <!--<input class="form-check-input" type="radio" name="name_answer"-->
             <!--id="{{'answer'+currentPos+''+i}}" value="{{i}}" required >-->
      <!--<label for="{{'answer'+currentPos+''+i}}">{{massiveData[currentPos].answers[i]}}</label>-->
    <!--</div>-->
    <!--<input type="submit" value="ответить" class="btn btn-primary">-->

  <!--</div>-->
  <!--<div class="card-body" *ngIf="finish">-->
    <!--<h5 class="card-title">Вы ответили на все вопросы</h5>-->
    <!--<p class="card-text">{{"Вы ответили правильно на " + currentAnswers+ " из "  + (massiveData.length+1)}}</p>-->
    <!--<img src="./img/win.jpg" alt="" class="img-responsive imgForm" *ngIf="currentAnswers >= (massiveData.length/2)">-->
    <!--<img src="./img/loosing.jpg" alt="" class="img-responsive imgForm" *ngIf="currentAnswers <= (massiveData.length/2)">-->
  <!--</div>-->
  <!--<div class="progressbarWrapper">-->
    <!--<ngb-progressbar type="moreBlue" showValue="true" height="25px" [value]="((+(currentPos)/+(massiveData.length))*100)"-->
                     <!--[striped]="true" [animated]="true"></ngb-progressbar>-->
  <!--</div>-->
</form>
