/* You can add global styles to this file, and also import other style files */
html
{
    background: linear-gradient(-55deg,
    #f7e600 49.9%,
    #2a2928 49.9%,#2a2928 60%,
    #f7e600 60%
    ),
    linear-gradient(-45deg,
            #2a2928 10%,
            #f7e600 10%
    );
    background-size: 4em 4em;
    background-color: #2a2928;
}
